.vs/
.idea
/build
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.exe
*.pidb.meta
*.pdb.meta
*.apk
*.unitypackage
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
*.pyc
local.properties
*.iml
*.jks
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.jar
*.war
*.ear